.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #02b8e2;
  padding: 2rem;

  input {
    border: none;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      margin-right: 1rem;
    }
  }
}
